.review-form-container {
  margin: 20px;
  padding: 20px;
  
  background-color: #fff;
  /* Ensure content appears after the Navbar */
  margin-top: 80px; /* Adjust this based on Navbar height */
}

.consultation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.consultation-table th, .consultation-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.consultation-table th {
  background-color: #f2f2f2;
}

/* Make feedback buttons blue */
.feedback-button {
  padding: 8px 12px;
  background-color: #007BFF; /* Blue color */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Hover effect for feedback buttons */
.feedback-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}